// 设置遮罩的隐藏于显示
.mask-enter
  opacity 0 !important
.mask-enter-active
  transition .5s opacity linear !important
.mask-enter-to
  opacity 1 !important
.mask-leave
  opacity 1 !important
.mask-leave-active
  transition .5s opacity linear !important
.mask-leave-to
  opacity 0 !important

// 设置添加删除物品
.removeCount-enter
  opacity 0 !important
  transform translateX(48px) rotate(0) !important
.removeCount-enter-active
  transition .5s all linear !important
.removeCount-enter-to
  opacity 1 !important
  transform translateX(0) rotate(-720deg) !important
.removeCount-leave
  opacity 1 !important
  transform translateX(0) rotate(-720deg) !important
.removeCount-leave-active
  transition .5s all linear !important
.removeCount-leave-to
  opacity 0 !important
  transform translateX(48px) rotate(0deg) !important


// 设置购物车遮罩
.showCartMask-enter
  opacity 0 !important
.showCartMask-enter-active
  transition .3s all linear !important
.showCartMask-enter-to
  opacity 1 !important
.showCartMask-leave
  opacity 1 !important
.showCartMask-leave-active
  transition .3s all linear !important
.showCartMask-leave-to
  opacity 0 !important


// 设置添加删除物品
/* .showCartList-enter
  opacity 0 !important
  // transform translateY(0) !important
  bottom -15 !important
.showCartList-enter-active
  transition .5s all linear !important
.showCartList-enter-to
  opacity 1 !important
  // transform translateY(200px) !important
  bottom 200px !important
.showCartList-leave
  opacity 1 !important
  // transform translateY(200px) !important
.showCartList-leave-active
  transition .5s all linear !important
.showCartList-leave-to
  opacity 0 !important
  // transform translateY() !important
  bottom -15 !important */