.mask-enter
  opacity 0 !important
.mask-enter-active
  transition opacity .3s linear !important
.mask-enter-to
  opacity 1 !important
.mask-leave
  opacity 1 !important
.mask-leave-active
  transition opacity .3s linear !important
.mask-leave-to
  opacity 0 !important